html{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

.form{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form input {
    height: 30px;
    font-size: medium;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 5px;
}

input {
    height: 30px;
    padding-left: 10px;
    font-size: medium;
    justify-content: center;
    border: 1px lightgray;
    border-style: solid;
    border-radius: 8px;
}

.todo__list--none {
    text-align: center;
}

#todo__list--completed{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    width: 100%;
}

#todo__list--pending {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

#todo__list--pending li {
    display: flex;
    flex-direction: row; /* how flex items are placed in the flex container defining the main axis and the direction */
    justify-content: center; /* how the browser distributes space between and around content items horizontally */
    gap: 10px;
    align-items: center;  /* fixed the alignment of items vertically */
}

#todo__list--completed li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center; /* fixed */
}

#todo__list--pending li span{
    width: 400px;
}

#todo__list--pending li input{
    width: 400px;
}

#todo__list--completed li span{
    width: 600px;
}
.todo__container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
    width: 400px;
}

.todo__list--container{
    display: flex;
    list-style-type: none;
    padding: 10px;
    flex-direction: column;
    border: 2px #e6e2d3;
    border-style: solid;
    border-radius: 8px;
    align-items: stretch;
}

.todo__list--completedContainer{
    width: 100%;
    align-items: stretch;
}

.todo__list--pendingContainer{
    width: 100%;
    align-items: stretch;
    text-align: center;
}

.span-title--complete {
    text-decoration: line-through;
    color: gray;
    cursor: pointer;
}

.span-title--pending {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul li {
    background-color: #e6e2d3;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius:8px;
    text-align: center;
    list-style: none;
}

ul li svg {
    width: 20px;
    height: 20px;
    padding: 3px;
    fill: #f0f0f0;
    pointer-events: none;
    cursor: pointer;
}

.btn--submit {
    background-color: #008cba;
    border: none;
    width: 80px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;
    color: #f0f0f0;
    cursor: pointer;
}

.btn--editing {
    background-color: #008cba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn--delete {
    background-color: #c94c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}